{% extends 'base.html' %}

{% block title %} Course Catalog {%endblock%}



{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://localhost:5000/">Back to Catalog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

<div class="jumbotron p-3">
    <div class="well text-center">

        <h1>Blended Classes at HHS</h1>

    </div>

</div>
<div class="container">
  <div class='row'>
    <div class="card">
          
      <div class="card-body">
        <p class="card-text"><p>Huntley High School has been ranked as the #1 blended learning high school in the United States by Study.com. The ranking is continued recognition of the school’s blended learning program, which has been frequently cited as a national leader in redefining the traditional public school day.

        Huntley High’s blended learning program launched in 2011 as a pilot with 100 students and three teachers. It has since grown to include more than two-thirds of the student body, with more than 2,100 students taking at least one of the school’s 60 blended courses. More than 70 teachers teach blended courses, offered across all academic departments.
        
        “This is a tremendous honor and a true reflection of both the outstanding work our staff has put in over the past several years and the caliber of our students,” said Dr. Scott Rowe, superintendent of Huntley Community School District 158. “Our successes have shown that it’s not only possible but imperative for schools to evolve in how we educate students.”
        
        Blended learning, broadly, combines traditional classroom instruction with online coursework. The term encompasses a variety of instructional models in use at schools across the country. At HHS, the blended learning program uses a distinctive structure designed in-house by existing staff with virtually no capital costs.
        
        In it, courses typically meet as a whole two or three days a week, with the remaining days offering students flexibility in deciding how best to use their time, from working online, meeting individually or in small groups with the teacher, working ahead or catching up in that or other courses, or even leaving campus or napping.
        
        This flexible model better accommodates individual learner needs than traditional whole-class instruction. Students who need additional individualized attention from the teacher can get it on days when the whole class is not meeting. Students who have already mastered course material are empowered to use otherwise unproductive class time for a different purpose.
        </p>
    </p>
    
    </div>
    
  </div>
  </div>
  </div>
</div>
{% endblock %}