{% extends "base.html" %}


{% block title %}My Profile{% endblock %}

{% block content %} 




    <h1>Welcome to your Profile</h1>


    <div class='info'>
        
        <li>
            Email: {{ acc['Email'] }}
        </li>
        <li>
            Password: {{ acc['Password'] }}
        </li>
        <li>
            Name: {{ acc['firstName'] + ' ' + acc['lastName']}}
        </li>

        

        <div style="float: right;">
            <a href="/profilePicChange">Change your Profile Picture</a>
            <h5>Your Profile Picture:</h5>
            <img src="{{ url_for('static', filename=profilePicture)}}" alt="Your image is not rendering" width="250" height="250">
        </div>
        

        
        <li>
            Grade: {{ acc['Grade'] }}
        </li>
        <li>
            Id: {{ acc['ID'] }}
        </li>
        <li>
            Bio: {{ acc['Bio'] }}
        </li>

    </div>
    

    <form method="POST">

        <label for="TutorCheckbox">Are you a tutor?</label>
        <input type="checkbox" id="{{acc['ID']}}" class="tutorCheckboxDynamic" onchange="getValue()">
        

        

        
        <div>
            <textarea name="bio" id="bio" placeholder="Add bio"></textarea>
    
        </div>
        
    
        <br />

        
    
        <div align="center">
            <button type="submit" >Update Information</button>
        </div>

    </form>

    
    
    <br>

    <br><br><br>

    
    
    <script>

        // When a checkbox is clicked, save its state to localStorage
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach(function(checkbox) {
        checkbox.addEventListener('click', function() {
            localStorage.setItem(checkbox.id, checkbox.checked);
        });
        });

        // When the page is loaded, set the state of the checkboxes from localStorage
        checkboxes.forEach(function(checkbox) {
        var state = localStorage.getItem(checkbox.id);
        if (state) {
            checkbox.checked = (state === 'true');
        }
        });

        function getValue() {
            var checkbox = document.getElementsByClassName("tutorCheckboxDynamic")[0];
            var value_to_send = 0;
            if (checkbox.checked) {
                value_to_send = 1; 
                console.log("Checkbox is checked");
                // Do something if checkbox is checked
            } else {
                value_to_send = 0;
                console.log("Checkbox is unchecked");
                // Do something if checkbox is unchecked
            }

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/send_tutorValue", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({"tutorValue": value_to_send}));


        }

    </script>

    <script>





    </script>
    



{% endblock %}