{% extends "base.html" %}


{% block title %}Temp{% endblock %}

{% block content %} 
    <h1>Checkboxes.. again</h1>

    <form method="POST">

        <input type="checkbox" name="checkbox1" value="1"> Checkbox 1
        <input type="checkbox" name="checkbox2" value="1"> Checkbox 2
        <input type="checkbox" name="checkbox3" value="1"> Checkbox 3

        <div align="center">
            <button type="submit" >Update Information</button>
        </div>


    </form>
    



    

{% endblock %}