body {
    background-color: rgb(211, 211, 211);
    margin: 1%;
    
}


#base-nav {
    border-bottom: 1px solid black;
    margin-left: 1%;
    margin-right: 1%;
    color: black;
}

.nav-link {
    color: black;
}