header {
    position: absolute;
    width: 1000px;
    display: flex;
    margin-top: 1%;
    /*box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);*/
    color: black;
}

.myProfileLeft {
    width: 45%;
    /*height: 100%;*/
    background: linear-gradient(to right, #9b9898, #959999);
    height: 99vh;
}


.myProfileLeft .profilePicture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 4%;
}

.myProfileRight {
    width: 100%;
    margin-left: 2%;
}

.bioPost {
    margin-top: 3%;
}

